// Prism guideline https://dribbble.com/shots/1787582-Nutanix-Product-Guideline-v2/attachments/293272
$dark1 = #343536
$dark2 = #3f4142
$dark3 = #424950
$dark4 = #89949b
$dark5 = #9aa8b1
$dark6 = #c4c9cd
$dark7 = #dbdfe1
$dark8 = #f3f4f5

$blue1 = #1790bb
$blue2 = #11a3d7
$blue3 = #26bbf0
$blue4 = #7dd6f6
$blue5 = #a8e4f9
$blue6 = #d4f1fc

$green1 = #6eb17b
$green2 = #98b36a
$green3 = #c2d5a0
$green4 = #dae6c6
$green5 = #e7eed9
$green6 = #f3f7ec

$red1 = #a9484b
$red2 = #cc6164
$red3 = #cf6a6d
$red4 = #d88486
$red5 = #ebc0c1
$red6 = #f7e6e7

$yellow1 = #d9a92b
$yellow2 = #ffbc0d
$yellow3 = #ffd055
$yellow4 = #ffe49c
$yellow5 = #ffecbb
$yellow6 = #fff6dd

$turquoise1 = #9bbfb3
$turquoise2 = #aeccc2
$turquoise3 = #b9d9ce
$turquoise4 = #d5e8e2
$turquoise5 = #e3f0eb
$turquoise6 = #f1f7f5

// Primary color. Choose three hues from primary pallete. For example 100, 500, 700.
 $primary50 = #FCE4EC
$primary100 = #F8BBD0
$primary200 = #F48FB1
$primary300 = #F06292
$primary400 = #EC407A
$primary500 = #E91E63
$primary600 = #D81B60
$primary700 = #C2185B
$primary800 = #AD1457
$primary900 = #880E4F

// Accent color
 $accent50 = #E3F2FD
$accent100 = #BBDEFB
$accent200 = #90CAF9
$accent300 = #64B5F6
$accent400 = #42A5F5
$accent500 = #2196F3
$accent600 = #1E88E5
$accent700 = #1976D2
$accent800 = #1565C0
$accent900 = #0D47A1

// black and white
$black = #000000
$white = #FFFFFF

// text, icons, and dividers
$dividers = #DADADA
$disabled = #B2B2B2
$secondary = #727272
$text = #212121

// Gray
 $gray50 = #FAFAFA
$gray100 = #F5F5F5
$gray200 = #EEEEEE
$gray300 = #E0E0E0
$gray400 = #BDBDBD
$gray500 = #9E9E9E
$gray600 = #757575
$gray700 = #616161
$gray800 = #424242
$gray900 = #212121

// Links
 $link50 = #E3F2FD
$link100 = #BBDEFB
$link200 = #90CAF9
$link300 = #64B5F6
$link400 = #42A5F5
$link500 = #2196F3
$link600 = #1E88E5
$link700 = #1976D2
$link800 = #1565C0
$link900 = #0D47A1

// Success color
 $green50 = #E8F5E9
$green100 = #C8E6C9 
$green200 = #A5D6A7 
$green300 = #81C784 
$green400 = #66BB6A 
$green500 = #4CAF50 
$green600 = #43A047 
$green700 = #388E3C 
$green800 = #2E7D32 
$green900 = #1B5E20 

// Warning color
 $yellow50 = #FFFDE7
$yellow100 = #FFF9C4
$yellow200 = #FFF59D
$yellow300 = #FFF176
$yellow400 = #FFEE58
$yellow500 = #FFEB3B
$yellow600 = #FDD835
$yellow700 = #FBC02D
$yellow800 = #F9A825
$yellow900 = #F57F17

// Error color
 $red50 = #FFEBEE
$red100 = #FFCDD2
$red200 = #EF9A9A
$red300 = #E57373
$red400 = #EF5350
$red500 = #F44336
$red600 = #E53935
$red700 = #D32F2F
$red800 = #C62828
$red900 = #B71C1C


// Main aliases
$p = $pmimary500 // primary color
$pd = $primary700 // primary darker
$pl = $primary100 // primary lighter

$a = $accent200 // accent color
$ad = $accent400 // accent darker
$al = $accent100 // accent lighter

$l = $link500 // link color
$ld = $link700 // link darker
$ll = $link100 // link lighter

$g = $green500 // success color (green)
$gd = $green700 // success darker
$gl = $green100 // success ligther

$y = $yellow500 // warning color (yellow)
$yd = $yellow700 // warning darker
$yl = $yellow100 // warning ligther

$r = $red500 // error color (red)
$rd = $red700 // error darker
$rl = $red100 // error ligther

$b = $black // black
$w = $white // white
