.table
    width: 100%;
    border: 1px solid #a7a08f;
    border-collapse: collapse;
tbody
    padding-left 12px
    padding-right 12px
.table__row:first-child
    font-weight: bold;
.table__cell
    border: 1px solid #a7a08f;
    padding: 10px;
.table-container
    padding-left 12px
    padding-right 12px
