.color_bg_blue1
    background $blue1
.color_bg_blue2
    background $blue2
.color_bg_blue3
    background $blue3
.color_bg_blue4
    background $blue4
.color_bg_blue5
    background $blue5
.color_bg_blue6
    background $blue6
