.color_bg_turquoise1
    background $turquoise1
.color_bg_turquoise2
    background $turquoise2
.color_bg_turquoise3
    background $turquoise3
.color_bg_turquoise4
    background $turquoise4
.color_bg_turquoise5
    background $turquoise5
.color_bg_turquoise6
    background $turquoise6
