.color_bg_dark1
    background $dark1
.color_bg_dark2
    background $dark2
.color_bg_dark3
    background $dark3
.color_bg_dark4
    background $dark4
.color_bg_dark5
    background $dark5
.color_bg_dark6
    background $dark6
.color_bg_dark7
    background $dark7
.color_bg_dark8
    background $dark8
