.color_bg_green1
    background $green1
.color_bg_green2
    background $green2
.color_bg_green3
    background $green3
.color_bg_green4
    background $green4
.color_bg_green5
    background $green5
.color_bg_green6
    background $green6
