.color_bg_red1
    background $red1
.color_bg_red2
    background $red2
.color_bg_red3
    background $red3
.color_bg_red4
    background $red4
.color_bg_red5
    background $red5
.color_bg_red6
    background $red6
