.color_bg_yellow1
    background $yellow1
.color_bg_yellow2
    background $yellow2
.color_bg_yellow3
    background $yellow3
.color_bg_yellow4
    background $yellow4
.color_bg_yellow5
    background $yellow5
.color_bg_yellow6
    background $yellow6
